In [1]:
import pandas as pd

# Load Titanic dataset
df = pd.read_csv('Titanic_test.csv')

# Show basic information about the dataset
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB
None
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [4]:
# Import pandas library
import pandas as pd

# Load Titanic dataset
df = pd.read_csv('Titanic_test.csv')

# Check for missing values in the dataset
print(df.isnull().sum())

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
# Check the column names in the dataset
print(df.columns)

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [8]:
# Drop unnecessary columns like 'Name' and 'Ticket'
df.drop(['Name', 'Ticket'], axis=1, inplace=True)

# Encode 'Sex' column using Label Encoding (Male: 0, Female: 1)
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# Encode 'Embarked' column using One-Hot Encoding
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

# Verify the changes
print("\nData after Encoding and Dropping Unnecessary Columns:")
print(df.head())

Data after Encoding and Dropping Unnecessary Columns:
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked_Q  \
0          892       3    0  34.5      0      0   7.8292        True
1          893       3    1  47.0      1      0   7.0000       False
2          894       2    0  62.0      0      0   9.6875        True
3          895       3    0  27.0      0      0   8.6625       False
4          896       3    1  22.0      1      1  12.2875       False

   Embarked_S
0       False
1        True
2       False
3        True
4        True

In [10]:
import numpy as np

# Create a dummy 'Survived' column with random 0s and 1s matching the number of rows in the dataset
df['Survived'] = np.random.randint(0, 2, size=len(df))  # Random 0s and 1s

# Split the dataset into features (X) and labels (y)
X = df.drop(columns=['Survived', 'PassengerId'])  # Drop 'Survived' and 'PassengerId'
y = df['Survived']  # Target variable

# Verify the split is correct
print("\nFeatures (X):")
print(X.head())
print("\nLabels (y):")
print(y.head())

Features (X):
   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked_Q  Embarked_S
0       3    0  34.5      0      0   7.8292        True       False
1       3    1  47.0      1      0   7.0000       False        True
2       2    0  62.0      0      0   9.6875        True       False
3       3    0  27.0      0      0   8.6625       False        True
4       3    1  22.0      1      1  12.2875       False        True

Labels (y):
0    0
1    1
2    1
3    1
4    1
Name: Survived, dtype: int32

In [11]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Verify the split
print(f"\nTraining set size: {X_train.shape[0]}")
print(f"Test set size: {X_test.shape[0]}")

Training set size: 334
Test set size: 84

In [36]:
# Check for constant columns (columns where all values are the same)
constant_columns = [col for col in X.columns if X[col].nunique() == 1]
print("Constant Columns: ", constant_columns)

# Remove constant columns
X = X.drop(columns=constant_columns)

Constant Columns:  []

In [19]:
# Check if there are any NaN or infinite values in the dataset
print("Any NaN values:", X.isna().sum().sum())
print("Any infinite values:", (X == float('inf')).sum().sum())

# If there are any, replace or drop them
X = X.replace([float('inf'), -float('inf')], float('nan'))
X = X.fillna(X.mean())  # Alternatively, you can use median or another imputation method.

Any NaN values: 0
Any infinite values: 0

In [21]:
print(df.nunique())  # Check how many unique values each feature has

PassengerId    418
Pclass           3
Sex              2
Age             79
SibSp            7
Parch            8
Fare           169
Embarked_Q       2
Embarked_S       2
Survived         2
dtype: int64

In [28]:
# Get feature importance after training the model
feature_importance = pd.DataFrame({
    'Feature': X_train.columns,
    'Importance': lgb_model.feature_importances_
}).sort_values(by='Importance', ascending=False)
print(feature_importance)

      Feature  Importance
5        Fare        9698
2         Age        7760
3       SibSp        1300
7  Embarked_S         996
1         Sex         921
4       Parch         801
0      Pclass         486
6  Embarked_Q         330

In [ ]:
#Key Features: Fare and Age are the most important for predictions.
#Less Impactful: Embarked_Q and Pclass have low predictive power.